.homePhoto {
  display: inline-block;
  position: absolute;
  left: 50px;
  float: left;
  width: 25%;
  margin-top: 5%;
  
  border: 1px solid grey;
}
.homePhoto img {
  max-height: 350px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid grey;
}
