.avatar img {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.profile-view {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 70px;
  padding: 20px;
  border: 3px solid #DFDFE1;
  background: #F4F4F4;
  width: 406px;
  margin-top: 20px;
}
.container-fluid {
  background-color: #dee0e2;
  overflow: auto;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 50px;
}
.linkedin-github-links a {
  border-width: 2px;
  border-color: #888889;
  height: 32px;
  margin-right: 10px;
  font-weight: 600;
  border-radius: 5px;
}
.linkedin-github-links {
  margin-top: 10px;
  margin-right: 10px;
}
.linkedin-github-links img {
  margin-top: -5px;
}
.resume button, .resume a {
  margin-top: 5px;
  margin-left: 10px;
  border-width: 0px;
  border-radius: 10px;
  height: 35px;
  font-weight: 900;
  opacity: .8;
  color: #17a2b8;
}
.email {
  margin-top: 10px;
}
.emailbadge {
  opacity: .6;
  height: 25px;
  padding: .3em .7em .3em;
  margin-top: 10px;
}
.email h5 {
  font-weight: 700;
  font-size: 20px;
}
.email a {
  font-size: 16px;
  color: 	#778899;
}
.email span img {
  margin-top: -3px;
  margin-right: 3px;
}
.resumebadge {
  margin-top: 10px;
  height: 25px;
  opacity: .6;
  padding: .3em .7em .3em;
}
.resume h5 {
  font-size: 20px;
  font-weight: 700;
}
.profile-text {
  display: inline-block;
  margin-left: 500px;
  max-width: 850px;
  min-width: 400px;
  padding: 15px 40px 5px;
  border: 3px solid #DFDFE1;
  background: #F4F4F4;
  margin-top: 25px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.profile-interests {
  display: inline-block;
  margin-left: 500px;
  max-width: 700px;
  padding: 10px 30px 5px;
  border: 3px solid #DFDFE1;
  background: #F4F4F4;
  margin-right: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  display: block;
}
@media(max-width: 700px) {
  .container-fluid {
    background-color: #dee0e2;
    height: 100%;
  }
  .profile-view {
    display: inline-block;
    position: relative;
    margin-top: -50px;
    width: 410px;
    margin-left: -40px;
  }
  .profile-text {
    display: inline-block;
    position: relative;
    margin-top: 80px;
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
  }
  .profile-interests {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
  }
  .resume-view {
    margin-top: 25px;
  }
  .resume-container {
    margin-left: -50px;
  }
}
.resume-container {
  background-color: #F4F4F4;
  padding: 20px;
  border: 3px solid #DFDFE1;
}
.resume-container img {
  height: 1200px;
}
.resume-view {
  margin-left: 50px;
  margin-top: 25px;
}
.project-navigation {
  position: absolute;
  left: 0;
  margin-left: -20px;
  border-top: 2px solid #DFDFE1;
  border-right: 2px solid #DFDFE1;
  border-bottom: 2px solid #DFDFE1;
  margin-top: 20px;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F4F4F4;
}
.project-navigation button {
  border-radius: 10px;
}
.project-nav-header {
  margin-top: 50px;
  margin-left: 35px;
}
@media (max-width: 750px) {
  .project-navigation {
    display: none;
  }
  .project-main {
    display: block;
    /* margin-left: -100px; */
  }
}
.project-container {
  position: relative;
  overflow: hidden;
}
.project-links button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.project-main {
  display: inline-block;
  margin-left: 200px;
}
.proj-desc-title {
  background: green;
}
.carouselContainer {
  background: #6c757d;
  height: 100%;
  max-width: 100%;
}
.coin img {
  margin-top: 20px;
  height: 430px;
}
.eat img {
  margin-top: 20px;
  max-height: 70%;
  max-width: 80%;
  margin-left: 12%;
}
.insta img {
  max-width: 100%;
  max-height: 70%;
  margin-left: 10%;
}
.scrape img {
  max-width: 78%;
  margin-left: 10%;
}
